
#
# Recommended minimum configuration:
#
acl manager proto cache_object
acl localhost src 127.0.0.1/32 ::1
acl to_localhost dst 127.0.0.0/8 0.0.0.0/32 ::1

# Example rule allowing access from your local networks.
# Adapt to list your (internal) IP networks from where browsing
# should be allowed
#acl localnet src 10.0.0.0/8	# RFC1918 possible internal network
#acl localnet src 172.16.0.0/12	# RFC1918 possible internal network
#acl localnet src 192.168.0.0/16	# RFC1918 possible internal network
#acl localnet src fc00::/7       # RFC 4193 local private network range
#acl localnet src fe80::/10      # RFC 4291 link-local (directly plugged) machines

acl SSL_ports port 443
acl Safe_ports port 80		# http
acl Safe_ports port 21		# ftp
acl Safe_ports port 443		# https
acl Safe_ports port 70		# gopher
acl Safe_ports port 210		# wais
acl Safe_ports port 1025-65535	# unregistered ports
acl Safe_ports port 280		# http-mgmt
acl Safe_ports port 488		# gss-http
acl Safe_ports port 591		# filemaker
acl Safe_ports port 777		# multiling http
acl CONNECT method CONNECT

acl snmppublic snmp_community public

acl manager proto cache_object

acl SSL_ports port 443
acl CONNECT method CONNECT
acl shoutcast rep_header X-HTTP09-First-Line ^ICY.[0-9]
acl apache rep_header Server ^Apache
acl SNMPHOSTS src 128.142.0.0/16 localhost 
acl SNMPMON snmp_community public


# ACLs from ansible variables
{% if acl_src is defined %}
{% for acl_name, acl_ipaddr in acl_src.iteritems() %}
acl {{ acl_name }} src {{ acl_ipaddr }}
{% endfor %}
{% endif %}

{% if acl_srcdom is defined %}
{% for acl_name, acl_ipaddr in acl_srcdom.iteritems() %}
acl {{ acl_name }} srcdom_regex {{ acl_ipaddr }}
{% endfor %}
{% endif %}




# CVMFS
acl cvmfs dst cvmfs-stratum-one.cern.ch
acl cvmfs dst cernvmfs.gridpp.rl.ac.uk
acl cvmfs dst cvmfs.racf.bnl.gov
acl cvmfs dst cvmfs02.grid.sinica.edu.tw
acl cvmfs dst cvmfs.fnal.gov
acl cvmfs dst cvmfs-atlas-nightlies.cern.ch
acl cvmfs dst cvmfs-egi.gridpp.rl.ac.uk
acl cvmfs dst klei.nikhef.nl
acl cvmfs dst cvmfsrepo.lcg.triumf.ca
acl cvmfs dst cvmfsrep.grid.sinica.edu.tw
acl cvmfs dst cvmfs-s1bnl.opensciencegrid.org
acl cvmfs dst cvmfs-s1fnal.opensciencegrid.org

# ATLAS FRONTIER
acl ATLASFRONTIER dst atlassq1-fzk.gridka.de atlasfrontier.cern.ch squid-frontier.usatlas.bnl.gov lcgft-atlas.gridpp.rl.ac.uk frontier.triumf.ca ccsqfatlasli01.in2p3.fr ccfrontier.in2p3.fr
acl ATLASFRONTIER_REGEX dstdom_regex ^(frontier.*\.racf\.bnl\.gov|atlas.*frontier.*\.cern\.ch|cc.*\.in2p3\.fr|lcg.*\.gridpp\.rl\.ac\.uk|(.*frontier.*|tier1nfs)\.triumf\.ca)$

# Other
acl CMSFRONTIER dst cmsfrontier.cern.ch
acl LHCB dst lhcbproject.web.cern.ch


#
# Recommended minimum Access Permission configuration:
#
# Only allow cachemgr access from localhost
http_access allow manager localhost
http_access deny manager

# Deny requests to certain unsafe ports
http_access deny !Safe_ports

# Deny CONNECT to other than secure SSL ports
http_access deny CONNECT !SSL_ports

# We strongly recommend the following be uncommented to protect innocent
# web applications running on the proxy server who think the only
# one who can access services on "localhost" is a local user
http_access deny to_localhost

#monitoring gumpf
acl HOST_MONITOR src 127.0.0.1/32 128.142.0.0/16 188.184.128.0/17 188.185.128.0/17
acl snmppublic snmp_community public

snmp_access allow snmppublic HOST_MONITOR
snmp_access deny all
snmp_port 3401
#
# INSERT YOUR OWN RULE(S) HERE TO ALLOW ACCESS FROM YOUR CLIENTS
#

# Example rule allowing access from your local networks.
# Adapt localnet in the ACL section to list your (internal) IP networks
# from where browsing should be allowed
#http_access allow localnet
http_access allow localhost

http_access allow CMSFRONTIER
http_access allow LHCB
http_access allow cvmfs

http_access allow ATLASFRONTIER
http_access allow ATLASFRONTIER_REGEX


{% if acl_src is defined %}
{% for acl_name, acl_ipaddr in acl_src.iteritems() %}
http_access allow {{ acl_name }}
{% endfor %}
{% endif %}

{% if acl_srcdom is defined %}
{% for acl_name, acl_ipaddr in acl_srcdom.iteritems() %}
http_access allow {{ acl_name }}
{% endfor %}
{% endif %}

{% raw %}
# And finally deny all other access to this proxy
http_access deny all

# Squid normally listens to port 3128
http_port 3128

# We recommend you to use at least the following line.
hierarchy_stoplist cgi-bin ?

# Uncomment and adjust the following to add a disk cache directory.
cache_dir aufs /var/cache/squid 60000 16 256
cache_mem 1024 MB


#tuning params
maximum_object_size 1048576 KB
maximum_object_size_in_memory 128 KB

# Leave coredumps in the first cache dir
coredump_dir /var/cache/squid

#does this even work on 3.1? no, no it doesn't
#collapsed_forwarding on 

# logging options
strip_query_terms on
cache_store_log none
logformat squid %>a %ui %un [%{%d/%b/%Y:%H:%M:%S +0000}tl] "%rm %ru HTTP/%rv"  %>Hs %<st %Ss:%Sh %tr "%{X-Frontier-Id}>h"

# Add any of your own refresh_pattern entries above these.
refresh_pattern ^ftp:		1440	20%	10080
refresh_pattern ^gopher:	1440	0%	1440
refresh_pattern -i (/cgi-bin/|\?) 0	0%	0
refresh_pattern .		0	20%	4320
{% endraw %}
